<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Storage</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app1">
        <p>
            {{a}}
        </p>
    </div>
    <div id="app2">
        <span v-bind:title="a">
            悬停几秒
        </span>
    </div>
    <div id="app3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id = "app4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">点击反转</button>
    </div>
    <div id="app6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <div id="app7">
        <ol>
            <todo-item
                v-for="item in list"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
    <script type="text/javascript">
        Vue.component(
            'todo-item',
            {
                props:['todo'],
                template:'<li>{{todo.text}}</li>'
            }
        )
        var vue = new Vue({
            el:"#app7",
            data:{
                list:[
                    {id:0,text:'蔬菜'},
                    {id:1,text:'水果'},
                    {id:2,text:'麻花'}
                ]
            }
        })
    </script>
</body>
</html>